# Ignore node_modules in both backend and frontend
/node_modules
.env
/uploads
 

   # Optional: Ignore OS and editor files
   .DS_Store
   Thumbs.db
   *.log

   # Ignore environment files (if you use them)
   backend/.env
   frontend/.env